<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/png" href="images/favicon.ico" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="css/styles.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <header class="header-main">
        <div class="header-banner">
            <a href="/">
                <img src="./images/logo-mercado-liebre.svg" alt="Mercado Liebre">
            </a>
        </div>
        <div class="header-search-bar">
            <input class="header-search-bar-input" type="text" placeholder="Buscar productos, marcas">
            <button class="fa fa-search header-search-bar-search" type="submit"></button>
        </div>
        <div class="header-quotes">
            <i class="fas fa-hand-holding-usd headercuotas"></i>
            Compra en cuotas y sin tarjeta de crédito
        </div>
        <div class="header-burger-menu-container">
            <a href="/error"></a><i class="fas fa-bars header-burger-menu-button"></i>
        </div>
        <nav class="header-left-menu">
            <ul>
                <li><a href="/error">Ofertas</a></li>
                <li><a href="/error">Tiendas Oficiales</a></li>
                <li><a href="/error">Vender</a></li>
                <li><a href="/error">Ayuda</a></li>
            </ul>
        </nav>
        <nav class="header-right-menu">
            <ul>
                <li><a href="/register">Creá tu cuenta</a><i class="far fa-address-card header-right-menu-icon"></i>
                </li>
                <li><a href="/login">Ingresá</a> <i class="fas fa-sign-in-alt header-right-menu-icon"></i></li>
                <li><a href="/error">Mis Compras</a><i class="fas fa-shopping-basket header-right-menu-icon"></i></li>
            </ul>
        </nav>

    </header>
    <main>
        <div class="form-login-container">
            <div class="form-login-title">Por favor ingresá tu usuario</div>
            <form class="form-login" action="/" method="GET">
                <label for="nombre"> Nombre de Usuario</label>
                <input class="form-register-input" type="text" id="nombre" name="nombre" placeholder="Nombre de Usuario"
                    required>
                <label for="password"> Contraseña</label>
                <input class="form-register-input" type="password" id="password" name="password"
                    placeholder="Ingresa tu password" required>
                <button class="submit" type="submit" id="button" name="button">Ingresar</button>
            </form>
        </div>
        <br>
        <p style="text-align: center;"> (c) 2021 Mercado Liebre - Protegido por reCAPTCHA- Privacidad - Condiciones </p>
    </main>
</body>

</html>